* {
    margin: 0;
    padding: 0;
}

.pages, .mainPage {
    background-color: black;
    color: yellow;
    text-align: center;
}

.textImg {
    align-items: center;
    max-width: 350px;
}

.pageTitle {
    padding: 30px 0;
    font-family: STARWARS;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    flex: 30%;
    max-width: 250px;
    border: 1px solid yellow;
    border-radius: 20px;
    padding: 30px;
    margin: 30px;
}

.cardHeader {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 15px;
}

.cardDescr {
    text-align: left;
}

.searchResults {
    color: yellow;
}

