.topHeader {
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.logo-header img {
    max-width: 100px;
    padding: 40px 50px;
}

.nav {
    font-family: STARWARS;
    color: yellow;
}

.nav ul {
    display: flex;
    padding-right: 50px;
}

li {
    list-style-type: none;
    margin: 60px 0 0 20px;
}

a {
    text-decoration: none;
    color: yellow;
}

.hr {
    height: 3px;
    background-color: yellow;
    margin: 0;
}

.search {
    margin-top: 75px;
}