.topHeader {
    display: flex;
    text-align: center;
    background-color: black;
}

.logo-header img {
    max-width: 100px;
    padding: 40px 50px;
}

.nav {
    font-family: STARWARS;
    color: yellow;
}

.nav ul {
    display: flex;
    padding-right: 50px;
}

li {
    list-style-type: none;
    margin: 60px 0 0 20px;
}

a {
    text-decoration: none;
    color: yellow;
}

.hr {
    height: 3px;
    background-color: yellow;
    margin: 0;
}

.searchButton {
    font-family: STARWARS;
    background-color: black;
    border: 1px solid yellow;
    color: yellow;
    padding: 10px 20px;
    cursor: pointer;
}

@media (min-width: 350px) {
    .topHeader {
        display: block;
    }

    .logo-header img {
        padding: 30px 0 0;
    }

    .nav ul {
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 30px;
        padding-right: 20px;
    } 

    li {
        margin: 30px 0 0 20px;
    }

    .searchButton {
        margin: 20px 0;
    }
}

@media (min-width: 960px) {
    .topHeader {
        display: flex;
    }

    .nav ul {
        flex-wrap: nowrap;
        justify-content: center;
        padding: 30px 50px;
    } 

    .logo-header img {
        padding: 40px 50px;
    }

    .searchButton {
        margin-top: 50px;
    }

}