    .searchContainer {
        background-color: black;
        text-align: center;
        min-height: 100vh;
    }

    .searchBar {
        padding-top: 50px;
    }

    .searchCards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-right: 20px;
    }

    .searchBar input {
        background-color: black;
        color: yellow;
        border: 1px solid yellow;
        padding: 3px 5px;
    }

    .searchResult {
        color: yellow;
    }

    .cardSearch {
        border-radius: 20px;
        width: 200px;
        border: 1px solid yellow;
        padding: 10px;
        margin-bottom: 10px;
    }

    .searchImg {
        max-width: 250px;
        padding-top: 30px;
    }

    .searchDescr {
        color: yellow;
        padding-top: 20px;
    }
